@(contactUsForm: Form[ContactUs])

    @import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Contact Us") {
    
<!-- Main body
================== -->
  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Contact Us</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <!-- Contact us form -->
        <div class="col-sm-8">
          <h2 class="hl top-zero">Contact Us</h2>
          <hr>
          <p>We pride ourselves on providing the most helpful and friendly support service possible and we are dedicated to helping you with your fundraising needs.</p>
          	@form(routes.ContactMgmt.sendMail()) {
                @helper.inputText(contactUsForm("firstName"), '_label -> "Your first name", 'class -> "form-control", 'placeholder -> "Enter your first name")
                @helper.inputText(contactUsForm("lastName"), '_label -> "Your last name", 'class -> "form-control", 'placeholder -> "Enter your last name")
                @helper.inputText(contactUsForm("email"), '_label -> "Your email address", 'class -> "form-control", 'placeholder -> "Enter email address")
                @helper.inputText(contactUsForm("phone"), '_label -> "Enter Phone Number", 'id -> "phNo", 'class -> "form-control", '_addon -> "glyphicon-earphone", 'placeholder -> "Phone (ex.123-345-5678) ,just put numbers special character will be automatically appeded", 'title -> "10 digits and numeric only  and the format will be like example(ex.123-345-5678)")
                @helper.inputText(contactUsForm("group"), '_label -> "Your event or organization", 'class -> "form-control", 'placeholder -> "Enter event or organization")
	            @helper.select(
                	contactUsForm("subject"), 
                	options(ContactUs.options()), 
                    '_label -> "Reason for contact",
                    'class -> "form-control"
            	)
	            @helper.textarea(contactUsForm("message"), '_label -> "Your question", 'class -> "form-control", 'placeholder -> "Enter question")
                <input name="mobile" id="mobile" style="display: none"/>
                <input name="mail" id="mail" style="display: none"/>
	            <button type="submit" class="btn btn-green">Send request</button>
    		}
        </div>
        <!-- Right column -->
        <div class="col-sm-4">
          <!-- Out Address -->
          <h4>Our Address</h4>
          <hr>
            <p>
            300 Tamal Plaza, Suite 250<br />
            Corte Madera, CA 94925-1170<br /><br />
            Toll Free: 855.358.2022<br />
            Local: 415.358.2022<br /><br />
            Email: <a href="mailto:support@@scholasticchallenge.com">support@@scholasticchallenge.com</a><br />
            Technical Email: <a href="mailto:info@@scholasticchallenge.com">info@@scholasticchallenge.com.</a><br /><br />
            Office Hours: 7:30am - 5:00pm PST<br />
            </p>
          <div class="google-maps">
            <img width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/api/staticmap?markers=300+Tamal Plaza, Suite 250, Corte Madera, CA 94925-1170&size=300x300&sensor=true"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>



  </script>


  <script>

//=========new add


   $( "#phNo" ).keyup(function(){
   //alert("on keyup")

   var phNo1;
   //var lastChar;
   var phNo = document.getElementById("phNo").value;
   //alert("phNo "+phNo)
   //previousLength = phNo.length;
   //alert("phNo "+phNo)
   currentLength = phNo.length;
   //alert("currentLength :: "+currentLength);
   //alert("previousLength :: "+previousLength);
var length;

if(currentLength == 4 || currentLength == 8){
//alert("if(currentLength == 4 || currentLength == 8)");
var lastChar = phNo.charAt(currentLength-1);
//alert("lastChar "+lastChar);
if(lastChar!= '-'){
phNo = phNo.substring(0,currentLength-1);
phNo =phNo.concat("-");
phNo = phNo.concat(lastChar);

}
//phPart1 = phNo;
previousLength = phNo.length;
 $('#phNo').val(phNo);

}




else{

   if(currentLength<previousLength){
//alert("currentLength<previousLength");
   previousLength = currentLength;
   if(currentLength> 0){
   //alert("currentLength ::"+currentLength);
//alert("phNo "+phNo);
var lastChar = phNo.charAt(currentLength-1);

//alert("lastChar"+lastChar);
if(lastChar == '-'){
phNo = phNo.substring(0,currentLength-1);
}
else{
phNo = phNo.substring(0,currentLength);
}
   //alert("if return");
//phNo = phNo.substring(0,currentLength);
     $('#phNo').val(phNo);

   }

   phPart1 = null;
   }


else{
   //alert("else");

      if( phNo.length <8){
      previousLength = phNo.length;
      if(phNo.contains("-")){
     // alert("phNo.contains("-")")
      length = phNo.length;
     // alert("length1 "+length)
        phNo = phNo.substring(phNo.indexOf("-")+1,length);
        //alert("phNo "+phNo);

      }
      length = phNo.length;

    //alert("length11 "+length)
      if(length == 3){
     // alert("length == 3"+phNo.concat("-"));
      if(phPart1!=null){
      phNo1 = phNo.concat("-");
      //alert("phNo1 :: "+phNo1);
     // alert("before phPart1 :: "+phPart1);
      phPart1 = phPart1.concat(phNo1);
      previousLength = phPart1.length;
      //alert("after phPart1 :: "+phPart1)
         $('#phNo').val(phPart1);
      }else{
      phNo = document.getElementById("phNo").value;
      // alert("before phPart1 :: "+phPart1);
      phPart1 = phNo.concat("-");
      previousLength = phPart1.length;
      //alert("previousLength ")
      //alert("phPart1 :: "+phPart1)
         $('#phNo').val(phPart1);
      }


   // document.getElementById("phNo").innerHTML = phNo.concat("-");
       // alert("final :: "+document.getElementById("phNo").value);
      }
      }else{
      previousLength = phNo.length;
      }
 //aler("previousLength :: "+previousLength);
      }
      }


   });
  </script>



}